body{
    background: lightblue;
}
.section {
    width: 50%;
    display: flex;
    background: blue;
    margin: auto;
    form {
        width: 60%;
        transform: translate(40%);
        .input-field {
            padding: 3%;
            input {
                width: 70%;
                min-height: 25px;
                border: 1px solid black;
            }
            textarea {
                width: 70%;
                border: 1px solid black;
            }
        }
        .submit {
            padding: 2%;
            button {
                background: lightsalmon;
                color: white;
                width: auto;
                min-width: 25%;
                border: none;
                padding: 2%;
                cursor: pointer;
            }
            .disable {
                cursor: not-allowed;
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .section {
        width: 80%;
        form {
            width: 80%;
            transform: translate(15%);
            .submit {
                button {
                    min-width: 30%;
                }
            }
        }
    }
}

@media only screen and (min-width: 600px) and (max-width:768px){
    .section {
        width: 70%;
        form {
            width: 80%;
            input,textarea {
                width: 100%;
            }
        }
    }
}

@media only screen and (min-width: 768px) and (max-width: 992px){
    .section {
        width: 70%;
        form {
            width: 80%;
            transform: translate(25%);
            input,textarea {
                width: 100%;
            }
        }
    }
}